<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.uchinalife.scraper</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/hiroki/Documents/うちなーらいふスクレイピング/run_daily_scraper.sh</string>
    </array>
    
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>3</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/hiroki/Documents/うちなーらいふスクレイピング/logs/scraper.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/hiroki/Documents/うちなーらいふスクレイピング/logs/scraper_error.log</string>
    
    <key>WorkingDirectory</key>
    <string>/Users/hiroki/Documents/うちなーらいふスクレイピング</string>
</dict>
</plist>
